<section class="caviar-home-block-a" aria-label="{{ 'CaviarTheme.home.blockA.aria'|trans|sw_sanitize }}">
    <div class="caviar-home-block-a__container">
        <div class="caviar-home-block-a__content">
            <h2 class="caviar-home-block-a__title">{{ 'CaviarTheme.home.blockA.title'|trans|sw_sanitize }}</h2>
            <p class="caviar-home-block-a__text">{{ 'CaviarTheme.home.blockA.text'|trans|sw_sanitize }}</p>
            <a class="caviar-home-block-a__cta" href="#">
                {{ 'CaviarTheme.home.blockA.cta'|trans|sw_sanitize }}
            </a>
        </div>

        <div class="caviar-home-block-a__media">
            <img
                src="{{ asset('/bundles/caviartheme/storefront/assets/hero/home-hero-banner.png') }}"
                class="caviar-home-block-a__media-image"
                alt="{{ 'CaviarTheme.home.blockA.mediaAlt'|trans|sw_sanitize }}"
                loading="lazy"
            >
        </div>
    </div>
</section>
