{% sw_extends '@Storefront/storefront/layout/navbar/navbar.html.twig' %}

{% block layout_navbar %}
    <div class="caviar-main-nav-row" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
        <div class="caviar-main-nav-icons" aria-label="{{ 'header.actionsAriaLabel'|trans|striptags }}">
            <a href="#" class="caviar-nav-action" aria-label="{{ 'header.searchButton'|trans|striptags }}">
                <img src="{{ asset('/bundles/caviartheme/storefront/assets/navbar/icon-search.svg') }}" alt="">
            </a>
            <a href="{{ path('frontend.account.home.page') }}" class="caviar-nav-action" aria-label="{{ 'header.accountButton'|trans|striptags }}">
                <img src="{{ asset('/bundles/caviartheme/storefront/assets/navbar/icon-account.svg') }}" alt="">
            </a>
            <a href="{{ path('frontend.checkout.cart.page') }}" class="caviar-nav-action" aria-label="{{ 'header.cartButton'|trans|striptags }}">
                <img src="{{ asset('/bundles/caviartheme/storefront/assets/navbar/icon-cart.svg') }}" alt="">
            </a>
        </div>

        <nav class="navbar navbar-expand-lg main-navigation-menu" id="main-navigation-menu" aria-label="{{ 'header.navigationAriaLabel'|trans|striptags }}">
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav main-navigation-menu-list">
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.caviars'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.saumons'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.epicerie'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.cadeaux'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.accessoires'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.marque'|trans|sw_sanitize }}</a></li>
                    <li class="nav-item"><a class="nav-link main-navigation-link p-2" href="#">{{ 'CaviarTheme.nav.contact'|trans|sw_sanitize }}</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
